 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 input[required] + label:after {
	content: '*';
	color: red;
  }
  .flex,.child{
    display: flex;

  }
  .child{
    width: 50%;
   
  }
  .flex{
    width: 100%;
    margin: 2rem 0rem 2rem 0rem ;
  }
  .half{
    width: 50%;
  }
  .App{
    width: 100%;
    padding: 2rem 0rem 2rem 2rem ;
  }
  input{
    padding: 0.5rem;
    border: none;
    outline: none;
    margin: 0px 8px 0px 8px;
    border-radius: 4px;
  }
  select {
    padding: .5rem;
    margin: 0px 8px 0px 8px;
  }
  .required:after {
    content:" *";
    color: red;
  }

  .left {
    padding-right: 6rem;
   width: 97%;
   display: flex;
   justify-content: space-between;
  }

  .error{
    color: red;
  }
  .move{
    margin-left: 1rem;
  }
#hidden{
  display: none;
}
select {
  border: none;
}
details{
  margin: 10px 0px 10px 0px;
}
.danger {
  border: 1px solid red;
  padding: 10px;
}
.enter,.danger{
  cursor: pointer;
  border-radius: 5px;
margin-bottom: 2rem;
}
.enter {
  background-color: green;
  color: white;
  padding: 10px;
  border: 1px solid green;
  margin-left: 2rem;
}
summary {
  cursor: pointer;
}
body {
  background-color: rgb(239, 236, 236);
}